{{ 'about.css' | asset_url | stylesheet_tag }}

<!-- Welcome section starts -->
<section class="welcome">

<h2 class="section-heading">{{ section.settings.title }}</h2>
<div class="description">{{ section.settings.text }}</div>

</section>
<!-- Welcome section ends -->
{% schema %}
{
"name": "About",
"settings": [
  {
    "id": "title",
    "type": "text",
    "label": "Titulo"
  },
  {
    "id": "text",
    "type": "richtext",
    "label": "Description"
  }
],
"presets": [
{
"name": "About",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}