.faqs {
  .content-container::after {
    display: none;
  }

  .collapsible-content {
    background-color: #f8f6f3;
    counter-reset: myCounter;
    .collapsible-content__header {
      h2 {
        color: var(--primary);
        text-transform: uppercase;
        text-align: start;
        font-size: 2.7rem;
        margin-bottom: 0rem;
        margin-left: 1rem;
        @media screen and (min-width: 1200px) {
          font-size: calc(2.5rem * var(--scale));
          margin-bottom: calc(3rem * var(--scale));
        }
      }
    }
  }
  .collapsible-content-wrapper-narrow {
    @media screen and (min-width: 1200px) {
      min-width: calc(140rem * var(--scale));
    }
  }
  .grid__item {
    background-color: transparent !important;
    padding: 0;

    .accordion {
      background: transparent;
      counter-increment: myCounter;
      border: none;
    }
    summary {
      background-color: #fff;
      border-radius: 1.5rem;
      padding-left: 2rem;
      margin-bottom: 1rem;
      @media screen and (min-width: 1200px) {
        border-radius: calc(1rem * var(--scale));
        margin-bottom: calc(2rem * var(--scale));
        padding-inline: calc(2.5rem * var(--scale));
      }
      h3 {
        font-family: var(--bodyFont) !important;
        font-weight: 700;
        font-size: 1.39rem;
        &::before {
          content: counter(myCounter) ".";
        }

        @media screen and (min-width: 1200px) {
          font-size: calc(1.7rem * var(--scale));
          font-weight: 300;
        }
      }
    }
    .icon-caret {
      width: 1.6rem;
      height: 1rem;
      @media screen and (min-width: 1200px) {
        margin-right: calc(0.8rem * var(--scale));
      }
    }
  }

  .accordion__content {
    p {
      padding-left: 1.7rem;
      padding-right: 1.5rem;
      font-size: 1.4rem;
      @media screen and (min-width: 1200px) {
        font-size: calc(1.7rem * var(--scale));
        font-weight: 300;
      }
    }
  }
}
