.footer {
  background-color: var(--dark);
  margin: 0px;
  color: white !important;
  font-family: var(--font-body-family) !important;
  padding-block: 4rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
    padding-block: calc(4rem * var(--scale));
    padding-inline: calc(6rem * var(--scale));
    gap: calc(8rem * var(--scale));
  }
  section {
    h4 {
      color: white !important;
      font-family: var(--font-body-family) !important;
    }
    div {
      h4 {
        color: white !important;
        font-family: var(--font-body-family) !important;
      }
      ul {
        list-style: none;
        padding-left: 0px;

        li {
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }

  section:last-child {
    text-align: center;
    display: none;
  }

  @media screen and (min-width: 1200px) {
    section:nth-child(1) {
      width: calc(34rem * var(--scale));
    }

    section:nth-child(2) {
      display: flex;
      gap: calc(8rem * var(--scale));
    }
  }
}
